In [6]:
import numpy as np
import pandas as pd

In [7]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A','B'])

In [10]:
df

             A         B
G1 1  0.814070  0.954702
   2  1.478972 -0.835610
   3 -0.012031 -1.337138
G2 1 -0.121417 -0.283812
   2 -0.605193  0.646502
   3  0.508831  0.384377

In [12]:
df.loc['G1'].loc[1]

A    0.814070
B    0.954702
Name: 1, dtype: float64

In [14]:
df.index.names=['Groups', 'Num']

In [15]:
df

                   A         B
Groups Num
G1     1    0.814070  0.954702
       2    1.478972 -0.835610
       3   -0.012031 -1.337138
G2     1   -0.121417 -0.283812
       2   -0.605193  0.646502
       3    0.508831  0.384377

In [17]:
df.loc['G2'].loc[2]['B']

0.6465019661635375

In [18]:
df.xs('G1')

            A         B
Num
1    0.814070  0.954702
2    1.478972 -0.835610
3   -0.012031 -1.337138

In [19]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.814070  0.954702
G2     -0.121417 -0.283812